@import 'nib'

// VARIABLES

// GENERAL

.navbar li
  cursor: pointer

#container
  padding: 0
  position: relative

.content
  height: 100%
  position: relative
  //overflow: hidden
  display: none

.content.visible
  display: block

// LOGIN

#login 
  form
    margin-top: 10%

// CATALOGUE/USERS

#catalogue, #users
  .search
    padding: 20px 0 20px
    background: rgba(0,0,0,0.1)
  .list
    margin: 0
    list-style-type: none;
    background: #F2F2F2
    height: 95%
    position: relative
    overflow: auto
    li
      cursor: pointer
      width: 85%
      padding: 20px 10% 20px 5%
      background: linear-gradient(top, #F2F2F2, #D2D2D2)
      font-size: 1.2em
      color: rgba(0,0,0,0.8)
      white-space: nowrap
      text-overflow: ellipsis
      .id
        color: rgba(0,0,0,0.2)
        font-size: 3em
        display: inline-block
        vertical-align: middle
        margin-right: 10px
        text-align: right
        width: 1.5em
      &.active
        background: linear-gradient(top, lighten(#345363, 30%), #345363)
    // &:before
    //   content: "Catalogue"
    //   display: block
    //   width: 97%
    //   padding: 2px 0 2px 3%
    //   background: linear-gradient(top, #5C5C5C, #373737)
    //   color: white
  .new
    position: absolute
    height: 5%
    bottom: 0px
    margin: 0px
    display: block
    text-align: center
    color: white
    background: linear-gradient(top, #5C5C5C, #373737)
  .panel
    padding: 20px 20px 20px 0px
    height: 100%
    overflow: auto
    img
      float: left
      width: 200px
      height: 300px
    form
      float: left
      margin-bottom: 5px
      div
        margin-left: 20px
        float: left
      textarea,.desc
        margin-left: 20px
      textarea
        width: 445px
        height: 150px
    .buttons
      position: relative
      clear: both
      button
        width: 100px

// ISSUE/RETURN

#issue,#return
  .column
    padding-top: 20px
    .result
      // background: linear-gradient(top, #F2F2F2, #D2D2D2)
      // border-radius: 0px 0px 10px 10px
      // width: 90%
      // padding: 0 10%
      // &:before
      //   content: "Selected User:"
      //   display: block
      //   width: 97%
      //   padding: 2px 0 2px 3%
      //   background: linear-gradient(top, #5C5C5C, #373737)
      //   color: white
    .books
      margin: 0
      list-style-type: none;
      padding 0 0 20px 0
      li
        padding: 10px 0
        .id
          color: rgba(0,0,0,0.2)
          font-size: 3em
          display: inline-block
          vertical-align: middle
          text-align: right
          width: 1.5em
        button
          float: right