<div class="column offset4 span4">
  <label>Scan/Enter Book ID</label>
  <input type="text" class="bookInput span12">
  {{#if id}}
  <div class="result">
    Returned Book :
    <h3>{{ title }} {{ author }}</h3>
    <hr/>
  </div>
  {{/if}}
</div>