!!! 5
head
  link(rel='stylesheet', href='/stylesheets/app.css')
  script(src='/javascripts/vendor.js')
  script(src='/javascripts/app.js')
  script
    require('app');
  body
    #menu.navbar.navbar-static-top.navbar-inverse
    #container.container-fluid.fill
      #login.row-fluid.content
      #issue.row-fluid.content
      #return.row-fluid.content
      #catalogue.row-fluid.content
      #users.row-fluid.content
    .notifications.bottom-right
