!!! 5
head
  link(rel='stylesheet', href='/stylesheets/app.css')
  script(src='/javascripts/vendor.js')
  script(src='/javascripts/app.js')
  script
    require('app');
  body
    #menu.navbar.navbar-static-top.navbar-inverse
    #container.container-fluid
      #content.row-fluid
