<div id="search" class="row-fluid">
  <input id="searchbox" type="text" class="search-query span10 offset1" placeholder="Search">
</div>
<ul id="list" class="span3"></ul>
<button id="new" class="span3 btn">Add New</button>
<div id="panel" class="span9"></div>