<div class="navbar-inner">
  {{#unless admin}}
  <a class="brand">Library</a>
  {{/unless}}
  <ul class="nav">
    {{#if admin}}
    <li id="menu-issue"><a>Issue</a></li>
    <li id="menu-return"><a>Return</a></li>
    <li id="menu-catalogue"><a>Catalogue</a></li>
    <li id="menu-users"><a>Users</a></li>
    {{/if}}
  </ul>
  <ul class="nav pull-right">
    <li id="logout"><a href="/logout">Logout</a><li>
  </ul>
</div>
