<form class="span4 offset4 well">
  <legend>Login</legend>
  <label>Username</label>
  <input id="username" class="span12" type="text">
  <label>Password</label>
  <input id="password" class="span12" type="text">
  <button type="submit" class="btn btn-info btn-block" id="submit">Login</button>
</form>