<div id="column" class="offset4 span4">
  <label>Scan/Enter Book ID</label>
  <input type="text" id="bookInput" class="span12">
  {{#if id}}
  <div id="result">
    Returned Book :
    <h3>{{ title }} {{ author }}</h3>
    <hr/>
  </div>
  {{/if}}
</div>